***"Dataset: iris.csv"***

"Task 1 Requirements Recap:

Load dataset with Pandas

Show column names, number of rows, and data types

Show summary statistics (.describe())

Check for missing values

Goal: Understand structure and detect missing/inconsistent data"

**Import Libraries**

In [1]:
import pandas as pd

**Load Dataset**

In [2]:
df = pd.read_csv("iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

**Dataset Overview**

In [3]:
print("Column Names:", df.columns.tolist())
print("Number of Rows:", len(df))
print("\nData Types:\n", df.dtypes)

Column Names: ['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm', 'Species']
Number of Rows: 150

Data Types:
 Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

**Summary Statistics**

In [4]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

**Check for Missing Values**

In [5]:
df.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

Summary – Iris Dataset Exploration
- The dataset contains **X rows** and **Y columns** including features like sepal length, sepal width, petal length, petal width, and species.  
- No missing values detected (if `.isnull().sum()` shows all zeros).  
- Feature values fall within reasonable ranges for iris measureme.ts.